#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 100px);
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.center {
  margin-left: 30px;
}

.item1 {
  width: 30%;
  margin-left: 50px;
}
.item2 {
  width: 30%;
  margin-right: 610px;
}

/* demo styles */
#demo div {
  font-size: 50px;
  font-weight: 800;
}

#textcolor {
  color: white;
}

.testFlex {
  display: flex;
}

.sidenav {
  background-color: #e0e0e0;
  padding-top: 20px;
  color: #424242;
  flex-basis: 2;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pmworkload {
  align-self: center;
}

.item1 {
  float: left;
}

.item2 {
  float: right;
}

.navbar {
  background-color: #2196f3;
}

.srd-diagram {
  flex-basis: 3;
  background-color: #cccc;
  height: 100%;
}

.srd-port:hover {
  background: lightcoral !important;
  border-radius: 15px !important;
  opacity: 0.8 !important;
}

.srd-port {
  background: rgba(255, 255, 255, 0) !important;
}

/* Node Styling */

.nodeBody {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  outline: none;
}

.nodeTitleAndDate strong {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nodeDatePicker {
  display: flex;
  align-items: center;
  align-items: center;
  width: 45%;
}

.nodeDatePicker div {
  width: 100% !important;
  height: 1.5rem !important;
}

.nodeDatePicker div div {
  font-size: 0.7rem !important;
  height: 1.5rem !important;
}

.nodeDatePicker div div div {
  color: rgb(233, 233, 27) !important;
}

.nodeDatePicker div div div hr {
  border-bottom: none !important;
}

.nodeDatePicker div div input {
  width: 100% !important;
  margin: 0 !important;
  font-size: 0.7rem !important;
  position: absolute !important;
  top: -10px;
  left: 3px;
  color: rgb(233, 233, 27) !important;
}

.nodeDate {
  color: rgb(233, 233, 27) !important;
  font-size: 0.7rem !important;
}

.nodeDatePop {
  color: rgba(10, 48, 94, 0.708) !important;
}

.nodeAssignee-choose {
  height: 75% !important;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-style: dashed !important;
  margin-right: 0.5rem !important;
  border-color: lightgray !important;
}

.nodeAssignee-chosen {
  height: 75% !important;
  width: 25% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-right: 0.5rem !important;
}

.diagram-container {
  width: 1000px;
  height: 1000px;
  flex: auto;
  overflow: hidden;
  background: whitesmoke;
}

.task-button {
  margin: 12px;
}
