#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* demo styles */
#demo div {
  font-size: 50px;
  font-weight: 800;
}

#textcolor {
  color: white;
}

.testFlex {
  display: flex;
}

.sidenav {
  background-color: #2196f3;
  padding-top: 20px;
  color: white;
  flex-basis: 2;
  height: 100vh;
}

.srd-diagram {
  flex-basis: 3;
  background-color: #cccc;
}
