#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* demo styles */
#demo div {
  font-size: 50px;
  font-weight: 800;
}

#textcolor {
  color: white;
}

.testFlex {
  display: flex;
}

.sidenav {
  background-color: #E0E0E0;
  padding-top: 20px;
  color: #424242;
  flex-basis: 2;
  height: 100vh;
}

.navbar {
  background-color: #2196f3;
}

.srd-diagram {
  flex-basis: 3;
  background-color: #cccc;
}

.srd-port:hover {
  background: lightcoral !important;
  border-radius: 15px !important;
  opacity: 0.8 !important;
}

.srd-port {
  background: rgba(255,255,255,0) !important;
}

/* Node Styling */

.nodeBody {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
}

/* Node title and date section */

.nodeTitleAndDate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: 80%;
}

.nodeTitleAndDate h5 {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 15px;
  left: 8px;
  margin: 0;
}

.nodeTitleAndDate p {
  font-size: 0.65rem;
  color: rgb(223, 223, 27);
  position: absolute;
  left: 10px;
  top: 50px;
}

/* Node assignee section */

.nodeAssignee-choose {
  height: 75% !important;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-style: dashed !important;
  margin-right: 0.5rem !important;
  border-color: lightgray !important;
  font-size: 3rem !important;
  font-weight: bold !important;
}

.nodeAssignee-chosen {
  height: 75% !important;
  width: 25% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-right: 0.5rem !important;
  font-size: 2rem !important;
  font-weight: bold !important;
}

/* Node Edit Dialog */

.genDialogSectionRow, .genDialogSectionCol {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.genDialogSectionCol {
  align-items: flex-start;
  flex-direction: column;
}

.genDialogSectionRow h1 {
  margin-right: 1rem;
}

/* Date picker / calendar */

.nodeDatePicker {
  display: flex !important;
  align-items: center !important;
  width: 45%;
  height: 2rem !important;
}

.nodeDatePicker div {
  width: 100% !important;
  height: 2rem !important;
  color: steelblue !important;
  font-size: 2rem !important;
  font-weight: bold !important;
}


.nodeDatePicker div div {
  color: steelblue !important;
  font-size: 2rem !important;
  font-weight: bold !important;
  height: 2rem !important;
}

/* Date picker default date */
.nodeDatePicker div div div {
  color: steelblue !important;
  font-size: 2rem !important;
  font-weight: bold !important;
  height: 0.1rem !important;
  position: absolute !important;
  top: 0.25rem !important;
}

.nodeDatePicker div div div hr {
  border-bottom: none !important;
  color: steelblue !important;
  font-size: 2rem !important;
  font-weight: bold !important;
  height: 2rem !important;
}

/* Date picker default when no date is selected */
.nodeDatePicker div div input {
  width: 100% !important;
  height: 2.5rem !important;
  margin: 0 !important;
  color: steelblue !important;
  font-size: 2rem !important;
  font-weight: bold !important;
  position: absolute !important;
  top: -0.3rem !important;
}

.nodeDate {
  color: steelblue !important;
  font-size: 2rem !important;
  font-weight: bold !important;
}

.nodeDatePop {
  color: steelblue !important;
  font-size: 2rem !important;
  font-weight: bold !important;
}

